{% extends "base.html" %}
{% block content %}
<h1>Каталог</h1>
<p>
    <div>Фильтр по категориям:</div>
    {% if not request.GET.category %}
    Все
    {% else %}
    <a href="{% url 'catalog' %}?order_by={{ request.GET.order_by }}" class="btn btn-outline-info">Все</a>
    {% endif %}
    {% for item in category %}
    <a href="{% url 'catalog' %}?category={{ item.pk }}&order_by={{ request.GET.order_by }}" class="btn btn-outline-info">{{ item.name }}</a>
    {% endfor %}
</p>

<p>
<div>Сортировка:</div>
{% if not request.GET.order_by %}
Сбросить
{% else %}
<a href="{% url 'catalog' %}?category={{ request.GET.category }}" class="btn btn-outline-info">Сбросить</a>
{% endif %}
<a href="{% url 'catalog' %}?order_by=name&category={{ request.GET.category }}" class="btn btn-outline-info">Наименование</a>
<a href="{% url 'catalog' %}?order_by=year&category={{ request.GET.category }}" class="btn btn-outline-info">Год производства</a>
<a href="{% url 'catalog' %}?order_by=price&category={{ request.GET.category }}" class="btn btn-outline-info">Цена</a>
</p>

<div class="row">
    {% for item in products %}
    <div class="test-center col">
        <div class="pt-2">
        <div class="d-block card mb-3" style="width: 15rem;">
            <img src="/files/{{ item.photo_file }}" alt="{{ item.photo_file }}" class="img-thumbnail card-img-top" style="
            width: 160px;
            height: 160px;">
            <div class="p-2 card-body">
                <h3 class="card-title"><a href="{{ item.get_absolute_url }}">
                    {{ item.name }}
                </a>
                {{ item.price }} р.
            </h3>
                <div class="card-text">
                    Год производства: {{ item.year }} / Категория: {{ item.category }} / Остаток: {{ item.count }}
                </div>
                {% if user.is_authenticated %}
                <a href="#" onclick="toCart(this,{{ item.pk }})"><img src="../files/cart.svg" alt="cart"></a>
            {% endif %}
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
</div>
<script>
    toCart = async (target, pk) => {
        const res = await fetch(`/to_cart/${pk}`).then(res => res.json());
        const message = document.createElement('div');
        if (res.count) {
            message.innerHTML = `Товар добавлен в корзину. Общее колчество товаров в корзине: ${res.count}`;
        } else {
            message.innerHTML = 'Больше нельзя добавить';
        }
        target.parentElement.append(message);
        setTimeout(() => message.remove(), 1000);

    }
</script>
{% endblock %}